<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Music Archive</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div>
<h1 class="text-6xl font-extrabold">Music Archive, welcome</h1><div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <label class="mx-2 text-white">File to upload</label>
        <input name="file" class="bg-black ring-1 ring-gray-800 text-white font-medium p-1 rounded-xl" type="file"/>
        <button class="bg-black ring-1 ring-gray-800 text-white font-medium p-1 my-2 text-2xl rounded-xl hover:bg-white hover:text-black"/>
    </form>
</div>
</div>

<table class="table-auto">
    <tbody>
    <tr th:each="fileName : ${songFileNames}">
        <td  th:text="${fileName}">
        </td>
        <td>
        <audio controls>
        <source th:src="${'https://sagar-aws-s3.s3.ap-south-1.amazonaws.com/' + fileName}" type="audio/mpeg"/>
        Your browser does not support audio element
        </audio>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>